body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.d1{
    background-color: black;
    height: 90px;
    display: flex;
    color: white;
    align-items: center;
   justify-content: space-evenly;
   gap: 90px;
   text-shadow: 4px 4px 3px rgb(255, 255, 255) ;
}
.ota{
    background-image:url(./Rectangle\ 2.svg);
    width: 1463px;
    height: 610px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.po{
    background-color: #fff;
    width: 400px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    margin-left:550px;
}
.qizil{
    display: flex;
    gap: 90px;
    margin-top: 100px;
    align-items: center;
    margin-left: 250px;
    position: absolute;
    top: 130px;

}
.box{
    width: 237px;
    height: 209px;
    background-color: red;    
}

.box3{
    width: 237px;
    height: 209px;
    background-color: red;    
    position: absolute;
    left: 700px;
}
.box2{
    width: 411px;
    height: 209px;
    position: absolute;
    left: 270px;
    background-color: red;    
    border-radius: 100px;
}
.yashil{
    display: flex;
    gap: 250px;
    margin-left: 900px;
    top: 250px;
    right: 30px;
    position: absolute;
    right: 170px;
    top: 320px;

}
.boxy{
    width: 237px;
    height: 209px;
    background-color: #32FB00; 
}
.m2{
    height: 594px;
    background-color: black;
}
.inf{
     background-color: #fff;
    width: 350px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    margin-left:560px;
    padding: 10px;
    align-items: center;
    position: absolute;
}
.k{
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    margin-top: 150px;
    flex-direction: column;
    color: white;
    
}
.bardoviy{
    display: flex;
    justify-content: space-around;
}
.h{
    text-shadow: 2px 2px 4px white;
    margin-left: 130px;
}
.p2{
    margin-left: 30px;
    margin-top: 100px;
}
.r1{
    display: flex;
    background-color: #fff;
    width: 336px;
    height: 106px;
    margin-top: 100px;
    margin-left: 15px;
    justify-content: space-around;
    margin-top: 90px;
}
.k1{
    width: 60px;
    height: 60px;
    background-color: blue;
    display: flex;
    margin-top: 20px;
}
.k2{
    position:relative;
    left: 40px;
    top: 23px;
    width: 60px;
    height: 60px;
    background-color: #32FB00;
    margin-top: 20px;
}
.d{
    margin-left: 30px;
    margin-top: 20px;
}

